# Arquivos padrão do Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Firebase / Google Services
app/google-services.json
app/google-services.plist

# Chaves e certificados
*.keystore
*.jks

# Logs
*.log

# Arquivos gerados
*.apk
*.aab
